@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
.englishIcon {
  background-image: url("./src/assets/images/english.png");
}

.spanishIcon {
  background-image: url("./src/assets/images/spanish.png");
}

.germanIcon {
  background-image: url("./src/assets/images/german.png");
}

.frenchIcon {
  background-image: url("./src/assets/images/french.png");
}

.italianIcon {
  background-image: url("./src/assets/images/italian.png");
}

.facebookMagenta {
  background-image: url("./src/assets/images/icon-facebook.svg");
}

.facebookMagenta:hover {
  background-image: url("./src/assets/images/icon-facebook-Magenta.svg");
}

.facebookViolet {
  background-image: url("./src/assets/images/icon-facebook.svg");
}

.facebookViolet:hover {
  background-image: url("./src/assets/images/icon-facebook-Violet.svg");
}

.facebookCyan {
  background-image: url("./src/assets/images/icon-facebook.svg");
}

.facebookCyan:hover {
  background-image: url("./src/assets/images/icon-facebook-Cyan.svg");
}

.facebookTeal {
  background-image: url("./src/assets/images/icon-facebook.svg");
}

.facebookTeal:hover {
  background-image: url("./src/assets/images/icon-facebook-Teal.svg");
}

.facebookOrange {
  background-image: url("./src/assets/images/icon-facebook.svg");
}

.facebookOrange:hover {
  background-image: url("./src/assets/images/icon-facebook-Orange.svg");
}

.instagramMagenta {
  background-image: url("./src/assets/images/icon-instagram.svg");
}

.instagramMagenta:hover {
  background-image: url("./src/assets/images/icon-instagram-Magenta.svg");
}

.instagramViolet {
  background-image: url("./src/assets/images/icon-instagram.svg");
}

.instagramViolet:hover {
  background-image: url("./src/assets/images/icon-instagram-Violet.svg");
}

.instagramCyan {
  background-image: url("./src/assets/images/icon-instagram.svg");
}

.instagramCyan:hover {
  background-image: url("./src/assets/images/icon-instagram-Cyan.svg");
}

.instagramTeal {
  background-image: url("./src/assets/images/icon-instagram.svg");
}

.instagramTeal:hover {
  background-image: url("./src/assets/images/icon-instagram-Teal.svg");
}

.instagramOrange {
  background-image: url("./src/assets/images/icon-instagram.svg");
}

.instagramOrange:hover {
  background-image: url("./src/assets/images/icon-instagram-Orange.svg");
}

.pinterestMagenta {
  background-image: url("./src/assets/images/icon-pinterest.svg");
}

.pinterestMagenta:hover {
  background-image: url("./src/assets/images/icon-pinterest-Magenta.svg");
}

.pinterestViolet {
  background-image: url("./src/assets/images/icon-pinterest.svg");
}

.pinterestViolet:hover {
  background-image: url("./src/assets/images/icon-pinterest-Violet.svg");
}

.pinterestCyan {
  background-image: url("./src/assets/images/icon-pinterest.svg");
}

.pinterestCyan:hover {
  background-image: url("./src/assets/images/icon-pinterest-Cyan.svg");
}

.pinterestTeal {
  background-image: url("./src/assets/images/icon-pinterest.svg");
}

.pinterestTeal:hover {
  background-image: url("./src/assets/images/icon-pinterest-Teal.svg");
}

.pinterestOrange {
  background-image: url("./src/assets/images/icon-pinterest.svg");
}

.pinterestOrange:hover {
  background-image: url("./src/assets/images/icon-pinterest-Orange.svg");
}

.background {
  background-image: linear-gradient(to bottom, var(--veryDarkColor), var(--darkColor));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainFont:"Red Hat Text", sans-serif;
  --text: hsl(237, 18%, 59%);
  --color: hsl(236, 21%, 26%);
  --darkColor: hsl(235, 16%, 14%);
  --veryDarkColor: hsl(234, 17%, 12%);
  --textMagenta: hsl(345, 95%, 68%);
  --textViolet: hsl(290, 65%, 50%);
  --textCyan: hsl(197, 65%, 50%);
  --textTeal: hsl(180, 100%, 25%);
  --textOrange: hsl(19, 68%, 52%);
}

body {
  font-family: var(--mainFont);
  height: 100svh;
}

span {
  display: inline-block;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.shadowBottom {
  box-shadow: 3px 8px 2px -1px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=index.css.map */
