@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

:root {

    --mainFont:'Red Hat Text', sans-serif;


    --text: hsl(237, 18%, 59%);
    --violetText: hsl(345, 95%, 68%);
    --violet: hsl(236, 21%, 26%);
    --darkViolet: hsl(235, 16%, 14%);
    --veryDarkViolet: hsl(234, 17%, 12%);

}

body {

    font-family: var(--mainFont);

}